/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

/* New alt column in media library */
.fixed .column-alt {
	width: 20%;
}

/* In a custom frame, the date picker can sometimes collapse. This fixes that. */
#media-attachment-date-filters {
	min-width: 200px;
}

#wpsmartdefaults_upload_logo_preview {
	display: block;
	width: 320px;
	max-width: 100%;
	height: auto;
}

#wpsmartdefaults_logo_width {
	width: 100px;
}

#form-wpsmartdefaults-options p {
	max-width: 50em;
}

/* Style custom columns added to post table */
.post-type-post .wp-list-table.fixed {
  table-layout: initial !important;
}
.post-type-post .wp-list-table.fixed #post_thumbnail {
  width: 150px;
}
.post-type-post .wp-list-table.fixed #title {
  width: 200px;
}
